<response status="success">
  <result>
    <config version="11.1.0" urldb="paloaltonetworks" detail-version="11.1.13">
      <mgt-config>
        <users>
          <entry name="__telemetryuser">
            <phash>********</phash>
            <permissions>
              <role-based>
                <deviceadmin>
                  <member>localhost.localdomain</member>
                </deviceadmin>
              </role-based>
            </permissions>
          </entry>
        </users>
        <password-complexity>
          <enabled>yes</enabled>
          <minimum-length>8</minimum-length>
        </password-complexity>
      </mgt-config>
      <shared>
        <application />
        <application-group />
        <service />
        <service-group />
        <botnet>
          <configuration>
            <http>
              <dynamic-dns>
                <enabled>yes</enabled>
                <threshold>5</threshold>
              </dynamic-dns>
              <malware-sites>
                <enabled>yes</enabled>
                <threshold>5</threshold>
              </malware-sites>
              <recent-domains>
                <enabled>yes</enabled>
                <threshold>5</threshold>
              </recent-domains>
              <ip-domains>
                <enabled>yes</enabled>
                <threshold>10</threshold>
              </ip-domains>
              <executables-from-unknown-sites>
                <enabled>yes</enabled>
                <threshold>5</threshold>
              </executables-from-unknown-sites>
            </http>
            <other-applications>
              <irc>yes</irc>
            </other-applications>
            <unknown-applications>
              <unknown-tcp>
                <destinations-per-hour>10</destinations-per-hour>
                <sessions-per-hour>10</sessions-per-hour>
                <session-length>
                  <maximum-bytes>100</maximum-bytes>
                  <minimum-bytes>50</minimum-bytes>
                </session-length>
              </unknown-tcp>
              <unknown-udp>
                <destinations-per-hour>10</destinations-per-hour>
                <sessions-per-hour>10</sessions-per-hour>
                <session-length>
                  <maximum-bytes>100</maximum-bytes>
                  <minimum-bytes>50</minimum-bytes>
                </session-length>
              </unknown-udp>
            </unknown-applications>
          </configuration>
          <report>
            <topn>100</topn>
            <scheduled>yes</scheduled>
          </report>
        </botnet>
        <reports>
          <entry name="SMB Allowed previous 24 Hours">
            <type>
              <traffic>
                <sortby>bytes</sortby>
                <group-by>src</group-by>
                <aggregate-by>
                  <member>rule</member>
                  <member>dport</member>
                  <member>dst</member>
                </aggregate-by>
                <values>
                  <member>bytes</member>
                </values>
              </traffic>
            </type>
            <period>last-calendar-day</period>
            <topn>100</topn>
            <topm>50</topm>
            <caption>SMB Allowed previous 24 Hours</caption>
            <query>((port.dst eq 139) or (port.dst eq 445)) and (action eq allow)</query>
          </entry>
          <entry name="Umbrella Traffic">
            <type>
              <url>
                <sortby>repeatcnt</sortby>
                <group-by>dst</group-by>
                <aggregate-by>
                  <member>action</member>
                  <member>misc</member>
                </aggregate-by>
                <values>
                  <member>repeatcnt</member>
                </values>
              </url>
            </type>
            <period>last-15-minutes</period>
            <topn>500</topn>
            <topm>50</topm>
            <caption>Umbrella Traffic</caption>
            <query>(addr in '67.215.64.0/19') or (addr in '146.112.0.0/16') or (addr in '151.186.0.0/16') or (addr in '155.190.0.0/16') or (addr in '185.60.84.0/22') or (addr in '204.194.232.0/21') or (addr in '208.67.216.0/21') or (addr in '208.69.32.0/21')</query>
          </entry>
        </reports>
      </shared>
      <devices>
        <entry name="localhost.localdomain">
          <network>
            <interface>
              <ethernet />
              <loopback>
                <units />
              </loopback>
              <vlan>
                <units />
              </vlan>
              <tunnel>
                <units />
              </tunnel>
            </interface>
            <vlan />
            <virtual-wire />
            <profiles>
              <monitor-profile>
                <entry name="default">
                  <interval>3</interval>
                  <threshold>5</threshold>
                  <action>wait-recover</action>
                </entry>
              </monitor-profile>
            </profiles>
            <ike>
              <crypto-profiles>
                <ike-crypto-profiles>
                  <entry name="default">
                    <encryption>
                      <member>aes-128-cbc</member>
                      <member>3des</member>
                    </encryption>
                    <hash>
                      <member>sha1</member>
                    </hash>
                    <dh-group>
                      <member>group2</member>
                    </dh-group>
                    <lifetime>
                      <hours>8</hours>
                    </lifetime>
                  </entry>
                  <entry name="Suite-B-GCM-128">
                    <encryption>
                      <member>aes-128-cbc</member>
                    </encryption>
                    <hash>
                      <member>sha256</member>
                    </hash>
                    <dh-group>
                      <member>group19</member>
                    </dh-group>
                    <lifetime>
                      <hours>8</hours>
                    </lifetime>
                  </entry>
                  <entry name="Suite-B-GCM-256">
                    <encryption>
                      <member>aes-256-cbc</member>
                    </encryption>
                    <hash>
                      <member>sha384</member>
                    </hash>
                    <dh-group>
                      <member>group20</member>
                    </dh-group>
                    <lifetime>
                      <hours>8</hours>
                    </lifetime>
                  </entry>
                </ike-crypto-profiles>
                <ipsec-crypto-profiles>
                  <entry name="default">
                    <esp>
                      <encryption>
                        <member>aes-128-cbc</member>
                        <member>3des</member>
                      </encryption>
                      <authentication>
                        <member>sha1</member>
                      </authentication>
                    </esp>
                    <dh-group>group2</dh-group>
                    <lifetime>
                      <hours>1</hours>
                    </lifetime>
                  </entry>
                  <entry name="Suite-B-GCM-128">
                    <esp>
                      <encryption>
                        <member>aes-128-gcm</member>
                      </encryption>
                      <authentication>
                        <member>none</member>
                      </authentication>
                    </esp>
                    <dh-group>group19</dh-group>
                    <lifetime>
                      <hours>1</hours>
                    </lifetime>
                  </entry>
                  <entry name="Suite-B-GCM-256">
                    <esp>
                      <encryption>
                        <member>aes-256-gcm</member>
                      </encryption>
                      <authentication>
                        <member>none</member>
                      </authentication>
                    </esp>
                    <dh-group>group20</dh-group>
                    <lifetime>
                      <hours>1</hours>
                    </lifetime>
                  </entry>
                </ipsec-crypto-profiles>
                <global-protect-app-crypto-profiles>
                  <entry name="default">
                    <encryption>
                      <member>aes-128-cbc</member>
                    </encryption>
                    <authentication>
                      <member>sha1</member>
                    </authentication>
                  </entry>
                </global-protect-app-crypto-profiles>
              </crypto-profiles>
              <gateway />
            </ike>
            <qos>
              <profile>
                <entry name="default">
                  <class-bandwidth-type>
                    <mbps>
                      <class>
                        <entry name="class1">
                          <priority>real-time</priority>
                        </entry>
                        <entry name="class2">
                          <priority>high</priority>
                        </entry>
                        <entry name="class3">
                          <priority>high</priority>
                        </entry>
                        <entry name="class4">
                          <priority>medium</priority>
                        </entry>
                        <entry name="class5">
                          <priority>medium</priority>
                        </entry>
                        <entry name="class6">
                          <priority>low</priority>
                        </entry>
                        <entry name="class7">
                          <priority>low</priority>
                        </entry>
                        <entry name="class8">
                          <priority>low</priority>
                        </entry>
                      </class>
                    </mbps>
                  </class-bandwidth-type>
                </entry>
              </profile>
            </qos>
            <virtual-router>
              <entry name="default">
                <protocol>
                  <bgp>
                    <enable>no</enable>
                    <dampening-profile>
                      <entry name="default">
                        <cutoff>1.25</cutoff>
                        <reuse>0.5</reuse>
                        <max-hold-time>900</max-hold-time>
                        <decay-half-life-reachable>300</decay-half-life-reachable>
                        <decay-half-life-unreachable>900</decay-half-life-unreachable>
                        <enable>yes</enable>
                      </entry>
                    </dampening-profile>
                  </bgp>
                </protocol>
              </entry>
            </virtual-router>
            <tunnel>
              <ipsec />
              <global-protect-gateway />
              <global-protect-site-to-site />
            </tunnel>
          </network>
          <deviceconfig>
            <system>
              <panorama>
                <local-panorama>
                  <panorama-server>pazshdc-sec-pan-prod-01.corp.cvscaremark.com</panorama-server>
                  <panorama-server-2>rricmdc-sec-pan-prod-01.corp.cvscaremark.com</panorama-server-2>
                </local-panorama>
              </panorama>
              <device-telemetry>
                <device-health-performance>yes</device-health-performance>
                <product-usage>yes</product-usage>
                <threat-prevention>yes</threat-prevention>
                <region>americas</region>
              </device-telemetry>
              <ip-address>10.20.10.53</ip-address>
              <netmask>255.255.255.0</netmask>
              <update-server>updates.paloaltonetworks.com</update-server>
              <update-schedule>
                <threats>
                  <recurring>
                    <weekly>
                      <day-of-week>wednesday</day-of-week>
                      <at>01:02</at>
                      <action>download-only</action>
                    </weekly>
                  </recurring>
                </threats>
              </update-schedule>
              <timezone>US/Pacific</timezone>
              <service>
                <disable-telnet>yes</disable-telnet>
                <disable-http>yes</disable-http>
              </service>
              <hostname>lgs1501-01b-0104-ext-pa-fw01</hostname>
              <default-gateway>10.20.10.1</default-gateway>
            </system>
            <setting>
              <config>
                <rematch>yes</rematch>
              </config>
              <management>
                <hostname-type-in-syslog>FQDN</hostname-type-in-syslog>
              </management>
              <advance-routing>yes</advance-routing>
            </setting>
            <high-availability>
              <interface ptpl="USR-LV_template">
                <ha1 ptpl="USR-LV_template">
                  <port ptpl="USR-LV_template">ha1-a</port>
                  <ip-address>169.254.0.1</ip-address>
                  <netmask ptpl="USR-LV_template">255.255.255.0</netmask>
                </ha1>
                <ha1-backup ptpl="USR-LV_template">
                  <port ptpl="USR-LV_template">ha1-b</port>
                  <ip-address>169.254.1.1</ip-address>
                  <netmask ptpl="USR-LV_template">255.255.255.0</netmask>
                </ha1-backup>
                <ha2 ptpl="USR-LV_template">
                  <port ptpl="USR-LV_template">hsci</port>
                </ha2>
                <ha2-backup ptpl="USR-LV_template" />
                <ha3 ptpl="USR-LV_template" />
              </interface>
              <group ptpl="USR-LV_template">
                <group-id ptpl="USR-LV_template">2</group-id>
                <peer-ip>169.254.0.2</peer-ip>
                <peer-ip-backup>169.254.1.2</peer-ip-backup>
                <mode ptpl="USR-LV_template">
                  <active-passive ptpl="USR-LV_template">
                    <passive-link-state ptpl="USR-LV_template">auto</passive-link-state>
                  </active-passive>
                </mode>
                <election-option ptpl="USR-LV_template">
                  <device-priority>100</device-priority>
                </election-option>
                <monitoring>
                  <link-monitoring>
                    <link-group>
                      <entry name="AE1-Group-Mon">
                        <interface>
                          <member>ethernet1/41</member>
                          <member>ethernet1/42</member>
                        </interface>
                        <failure-condition>all</failure-condition>
                      </entry>
                      <entry name="AE2-Group-Mon">
                        <interface>
                          <member>ethernet1/43</member>
                          <member>ethernet1/44</member>
                        </interface>
                        <failure-condition>all</failure-condition>
                      </entry>
                      <entry name="AE3-Group-Mon">
                        <interface>
                          <member>ethernet1/21</member>
                          <member>ethernet1/22</member>
                        </interface>
                        <failure-condition>all</failure-condition>
                      </entry>
                    </link-group>
                    <enabled>yes</enabled>
                  </link-monitoring>
                  <path-monitoring>
                    <enabled>no</enabled>
                  </path-monitoring>
                </monitoring>
              </group>
              <enabled>yes</enabled>
            </high-availability>
          </deviceconfig>
          <vsys>
            <entry name="vsys1">
              <application />
              <application-group />
              <zone />
              <service />
              <service-group />
              <schedule />
              <rulebase>
                <security>
                  <rules />
                </security>
              </rulebase>
              <import>
                <network>
                  <interface />
                </network>
              </import>
            </entry>
          </vsys>
        </entry>
      </devices>
    </config>
  </result>
</response>