<response status="success">
  <result>
    <config detail-version="11.1.13" urldb="paloaltonetworks" version="11.1.0">
      <mgt-config>
        <users>
          <entry name="panadmin1">
            <permissions>
              <role-based>
                <superuser>yes</superuser>
              </role-based>
            </permissions>
            <phash>********</phash>
          </entry>
          <entry name="__telemetryuser">
            <phash>********</phash>
            <permissions>
              <role-based>
                <deviceadmin>
                  <member>localhost.localdomain</member>
                </deviceadmin>
              </role-based>
            </permissions>
          </entry>
        </users>
        <password-complexity>
          <enabled>yes</enabled>
          <minimum-length>8</minimum-length>
        </password-complexity>
      </mgt-config>
      <shared>
        <application />
        <application-group />
        <service />
        <service-group />
        <botnet>
          <configuration>
            <http>
              <dynamic-dns>
                <enabled>yes</enabled>
                <threshold>5</threshold>
              </dynamic-dns>
              <malware-sites>
                <enabled>yes</enabled>
                <threshold>5</threshold>
              </malware-sites>
              <recent-domains>
                <enabled>yes</enabled>
                <threshold>5</threshold>
              </recent-domains>
              <ip-domains>
                <enabled>yes</enabled>
                <threshold>10</threshold>
              </ip-domains>
              <executables-from-unknown-sites>
                <enabled>yes</enabled>
                <threshold>5</threshold>
              </executables-from-unknown-sites>
            </http>
            <other-applications>
              <irc>yes</irc>
            </other-applications>
            <unknown-applications>
              <unknown-tcp>
                <destinations-per-hour>10</destinations-per-hour>
                <sessions-per-hour>10</sessions-per-hour>
                <session-length>
                  <maximum-bytes>100</maximum-bytes>
                  <minimum-bytes>50</minimum-bytes>
                </session-length>
              </unknown-tcp>
              <unknown-udp>
                <destinations-per-hour>10</destinations-per-hour>
                <sessions-per-hour>10</sessions-per-hour>
                <session-length>
                  <maximum-bytes>100</maximum-bytes>
                  <minimum-bytes>50</minimum-bytes>
                </session-length>
              </unknown-udp>
            </unknown-applications>
          </configuration>
          <report>
            <topn>100</topn>
            <scheduled>yes</scheduled>
          </report>
        </botnet>
        <reports>
          <entry name="Test">
            <type>
              <traffic>
                <sortby>repeatcnt</sortby>
                <group-by>src</group-by>
                <aggregate-by>
                  <member>action</member>
                  <member>dst</member>
                  <member>dport</member>
                </aggregate-by>
                <values>
                  <member>repeatcnt</member>
                </values>
              </traffic>
            </type>
            <period>last-12-hrs</period>
            <topn>100</topn>
            <topm>50</topm>
            <caption>Test</caption>
            <query>( zone.src eq DMZ_pdc ) and ( zone.dst eq Trust ) and ( action neq allow ) and ( port.dst neq 9997 )</query>
          </entry>
          <entry name="Test 2">
            <type>
              <traffic>
                <sortby>repeatcnt</sortby>
                <aggregate-by>
                  <member>dst</member>
                  <member>from</member>
                  <member>action</member>
                  <member>dport</member>
                </aggregate-by>
              </traffic>
            </type>
            <period>last-hour</period>
            <topn>100</topn>
            <topm>25</topm>
            <caption>Test 2</caption>
            <query>( port.dst eq 53 ) and ( action neq allow ) and (zone.dst neq Untrust) and (zone.src neq Untrust)</query>
          </entry>
        </reports>
      </shared>
      <devices>
        <entry name="localhost.localdomain">
          <network>
            <interface>
              <ethernet>
                <entry name="ethernet1/19" />
                <entry name="ethernet1/20" />
              </ethernet>
              <loopback>
                <units />
              </loopback>
              <vlan>
                <units />
              </vlan>
              <tunnel>
                <units />
              </tunnel>
            </interface>
            <vlan />
            <virtual-wire />
            <profiles>
              <monitor-profile>
                <entry name="default">
                  <interval>3</interval>
                  <threshold>5</threshold>
                  <action>wait-recover</action>
                </entry>
              </monitor-profile>
            </profiles>
            <ike>
              <crypto-profiles>
                <ike-crypto-profiles>
                  <entry name="default">
                    <encryption>
                      <member>aes-128-cbc</member>
                      <member>3des</member>
                    </encryption>
                    <hash>
                      <member>sha1</member>
                    </hash>
                    <dh-group>
                      <member>group2</member>
                    </dh-group>
                    <lifetime>
                      <hours>8</hours>
                    </lifetime>
                  </entry>
                  <entry name="Suite-B-GCM-128">
                    <encryption>
                      <member>aes-128-cbc</member>
                    </encryption>
                    <hash>
                      <member>sha256</member>
                    </hash>
                    <dh-group>
                      <member>group19</member>
                    </dh-group>
                    <lifetime>
                      <hours>8</hours>
                    </lifetime>
                  </entry>
                  <entry name="Suite-B-GCM-256">
                    <encryption>
                      <member>aes-256-cbc</member>
                    </encryption>
                    <hash>
                      <member>sha384</member>
                    </hash>
                    <dh-group>
                      <member>group20</member>
                    </dh-group>
                    <lifetime>
                      <hours>8</hours>
                    </lifetime>
                  </entry>
                </ike-crypto-profiles>
                <ipsec-crypto-profiles>
                  <entry name="default">
                    <esp>
                      <encryption>
                        <member>aes-128-cbc</member>
                        <member>3des</member>
                      </encryption>
                      <authentication>
                        <member>sha1</member>
                      </authentication>
                    </esp>
                    <dh-group>group2</dh-group>
                    <lifetime>
                      <hours>1</hours>
                    </lifetime>
                  </entry>
                  <entry name="Suite-B-GCM-128">
                    <esp>
                      <encryption>
                        <member>aes-128-gcm</member>
                      </encryption>
                      <authentication>
                        <member>none</member>
                      </authentication>
                    </esp>
                    <dh-group>group19</dh-group>
                    <lifetime>
                      <hours>1</hours>
                    </lifetime>
                  </entry>
                  <entry name="Suite-B-GCM-256">
                    <esp>
                      <encryption>
                        <member>aes-256-gcm</member>
                      </encryption>
                      <authentication>
                        <member>none</member>
                      </authentication>
                    </esp>
                    <dh-group>group20</dh-group>
                    <lifetime>
                      <hours>1</hours>
                    </lifetime>
                  </entry>
                </ipsec-crypto-profiles>
                <global-protect-app-crypto-profiles>
                  <entry name="default">
                    <encryption>
                      <member>aes-128-cbc</member>
                    </encryption>
                    <authentication>
                      <member>sha1</member>
                    </authentication>
                  </entry>
                </global-protect-app-crypto-profiles>
              </crypto-profiles>
              <gateway />
            </ike>
            <qos>
              <profile>
                <entry name="default">
                  <class-bandwidth-type>
                    <mbps>
                      <class>
                        <entry name="class1">
                          <priority>real-time</priority>
                        </entry>
                        <entry name="class2">
                          <priority>high</priority>
                        </entry>
                        <entry name="class3">
                          <priority>high</priority>
                        </entry>
                        <entry name="class4">
                          <priority>medium</priority>
                        </entry>
                        <entry name="class5">
                          <priority>medium</priority>
                        </entry>
                        <entry name="class6">
                          <priority>low</priority>
                        </entry>
                        <entry name="class7">
                          <priority>low</priority>
                        </entry>
                        <entry name="class8">
                          <priority>low</priority>
                        </entry>
                      </class>
                    </mbps>
                  </class-bandwidth-type>
                </entry>
              </profile>
            </qos>
            <virtual-router>
              <entry name="default">
                <protocol>
                  <bgp>
                    <enable>no</enable>
                    <dampening-profile>
                      <entry name="default">
                        <cutoff>1.25</cutoff>
                        <reuse>0.5</reuse>
                        <max-hold-time>900</max-hold-time>
                        <decay-half-life-reachable>300</decay-half-life-reachable>
                        <decay-half-life-unreachable>900</decay-half-life-unreachable>
                        <enable>yes</enable>
                      </entry>
                    </dampening-profile>
                  </bgp>
                </protocol>
              </entry>
            </virtual-router>
            <logical-router />
            <routing-profile>
              <bgp name="default-bgp-rp">
                <address-family-profile>
                  <entry name="ipv4-unicast-default">
                    <ipv4>
                      <unicast>
                        <enable>yes</enable>
                        <maximum-prefix>
                          <action>
                            <warning-only />
                          </action>
                        </maximum-prefix>
                      </unicast>
                    </ipv4>
                  </entry>
                  <entry name="ipv4-multicast-default">
                    <ipv4>
                      <multicast>
                        <enable>yes</enable>
                        <maximum-prefix>
                          <action>
                            <warning-only />
                          </action>
                        </maximum-prefix>
                      </multicast>
                    </ipv4>
                  </entry>
                  <entry name="ipv6-unicast-default">
                    <ipv6>
                      <unicast>
                        <enable>yes</enable>
                        <maximum-prefix>
                          <action>
                            <warning-only />
                          </action>
                        </maximum-prefix>
                      </unicast>
                    </ipv6>
                  </entry>
                </address-family-profile>
                <dampening-profile>
                  <entry name="default-default-dp" />
                </dampening-profile>
              </bgp>
              <filters>
                <route-maps />
              </filters>
              <bfd />
            </routing-profile>
            <tunnel>
              <ipsec />
              <global-protect-gateway />
              <global-protect-site-to-site />
            </tunnel>
          </network>
          <deviceconfig>
            <system>
              <panorama>
                <local-panorama>
                  <panorama-server>pazshdc-sec-pan-prod-01.corp.cvscaremark.com</panorama-server>
                  <panorama-server-2>rricmdc-sec-pan-prod-01.corp.cvscaremark.com</panorama-server-2>
                </local-panorama>
              </panorama>
              <device-telemetry>
                <device-health-performance>yes</device-health-performance>
                <product-usage>yes</product-usage>
                <threat-prevention>yes</threat-prevention>
                <region>Americas</region>
              </device-telemetry>
              <ip-address>10.20.10.35</ip-address>
              <netmask>255.255.255.0</netmask>
              <update-server>updates.paloaltonetworks.com</update-server>
              <update-schedule />
              <timezone>US/Pacific</timezone>
              <service>
                <disable-telnet>yes</disable-telnet>
                <disable-http>yes</disable-http>
              </service>
              <hostname>lgs1501-01b-0105-ext-dmz-pa-fw01</hostname>
              <default-gateway>10.20.10.1</default-gateway>
              <dns-setting />
            </system>
            <setting>
              <config>
                <rematch>yes</rematch>
              </config>
              <management>
                <hostname-type-in-syslog>FQDN</hostname-type-in-syslog>
              </management>
              <advance-routing>yes</advance-routing>
            </setting>
            <high-availability>
              <interface ptpl="DMZ-LV_Template">
                <ha1 ptpl="DMZ-LV_Template" />
                <ha1-backup ptpl="DMZ-LV_Template" />
                <ha2 ptpl="DMZ-LV_Template" />
                <ha2-backup ptpl="DMZ-LV_Template" />
                <ha3 ptpl="DMZ-LV_Template" />
              </interface>
              <group ptpl="DMZ-LV_Template">
                <election-option ptpl="DMZ-LV_Template" />
                <monitoring ptpl="DMZ-LV_Template">
                  <path-monitoring ptpl="DMZ-LV_Template" />
                  <link-monitoring>
                    <link-group />
                  </link-monitoring>
                </monitoring>
              </group>
            </high-availability>
          </deviceconfig>
          <vsys>
            <entry name="vsys1">
              <application />
              <application-group />
              <zone />
              <service />
              <service-group />
              <schedule />
              <rulebase>
                <security>
                  <rules />
                </security>
              </rulebase>
              <import>
                <network>
                  <interface />
                </network>
              </import>
            </entry>
          </vsys>
        </entry>
      </devices>
    </config>
  </result>
</response>